---
export interface Props {
	node: {
		src?: string;
		alt?: string;
		href?: string;
	};
}

const { node } = Astro.props;
const { src, alt, href } = node;
---

{src && (
	<span class="emdash-block-wrap docs-image" data-block-type="docs.image" data-block-props={JSON.stringify(node)}>
		{href ? (
			<a href={href}><img src={src} alt={alt ?? ""} /></a>
		) : (
			<img src={src} alt={alt ?? ""} />
		)}
	</span>
)}

<style>
	.docs-image {
		display: block;
	}
	.docs-image img {
		max-width: 100%;
		height: auto;
	}
</style>
