---
import Icon from './Icon.astro';
---

<starlight-theme-select>
	<label style="--sl-select-width: 6.25em">
		<span class="sr-only">Select theme</span>
		<Icon name="laptop" class="icon label-icon" />
		<select autocomplete="off">
			<option value="dark">Dark</option>
			<option value="light">Light</option>
			<option value="auto" selected>Auto</option>
		</select>
		<Icon name="down-caret" class="icon caret" />
	</label>
</starlight-theme-select>

<script is:inline>
	(() => {
		const stored = typeof localStorage !== 'undefined' && localStorage.getItem('starlight-theme');
		document.querySelectorAll('starlight-theme-select').forEach((el) => {
			const select = el.querySelector('select');
			if (select && stored) select.value = stored;
		});
	})();
</script>

<script>
	type Theme = 'auto' | 'dark' | 'light';

	const storageKey = 'starlight-theme';

	const parseTheme = (theme: unknown): Theme =>
		theme === 'auto' || theme === 'dark' || theme === 'light' ? theme : 'auto';

	const loadTheme = (): Theme =>
		parseTheme(typeof localStorage !== 'undefined' && localStorage.getItem(storageKey));

	function storeTheme(theme: Theme): void {
		if (typeof localStorage !== 'undefined') {
			localStorage.setItem(storageKey, theme === 'light' || theme === 'dark' ? theme : '');
		}
	}

	const getPreferredColorScheme = (): Theme =>
		matchMedia('(prefers-color-scheme: light)').matches ? 'light' : 'dark';

	function onThemeChange(theme: Theme): void {
		document.querySelectorAll('starlight-theme-select select').forEach((s) => {
			(s as HTMLSelectElement).value = theme;
		});
		document.documentElement.dataset.theme = theme === 'auto' ? getPreferredColorScheme() : theme;
		storeTheme(theme);
	}

	matchMedia('(prefers-color-scheme: light)').addEventListener('change', () => {
		if (loadTheme() === 'auto') onThemeChange('auto');
	});

	class StarlightThemeSelect extends HTMLElement {
		constructor() {
			super();
			onThemeChange(loadTheme());
			this.querySelector('select')?.addEventListener('change', (e) => {
				if (e.currentTarget instanceof HTMLSelectElement) {
					onThemeChange(parseTheme(e.currentTarget.value));
				}
			});
		}
	}
	customElements.define('starlight-theme-select', StarlightThemeSelect);
</script>

<style>
	label {
		--sl-label-icon-size: 0.875rem;
		--sl-caret-size: 1.25rem;
		--sl-inline-padding: 0.5rem;
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		color: var(--sl-color-gray-2);
	}

	label:hover {
		color: var(--sl-color-white);
	}

	label :global(.icon) {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}

	label :global(.label-icon) {
		font-size: var(--sl-label-icon-size);
		inset-inline-start: 0;
	}

	label :global(.caret) {
		font-size: var(--sl-caret-size);
		inset-inline-end: 0;
	}

	select {
		border: 0;
		padding-block: 0.625rem;
		padding-inline: calc(var(--sl-label-icon-size) + var(--sl-inline-padding) + 0.25rem)
			calc(var(--sl-caret-size) + var(--sl-inline-padding) + 0.25rem);
		margin-inline: calc(var(--sl-inline-padding) * -1);
		width: calc(var(--sl-select-width) + var(--sl-inline-padding) * 2);
		background-color: transparent;
		text-overflow: ellipsis;
		color: inherit;
		cursor: pointer;
		appearance: none;
	}

	option {
		background-color: var(--sl-color-bg-nav);
		color: var(--sl-color-gray-1);
	}

	@media (min-width: 50rem) {
		select {
			font-size: var(--sl-text-sm);
		}
	}
</style>
